
h1 {
	font-size: 24px;
  	font-family: Ariel;
  	color: #FFFADC;
}

h2 {
  font-weight: bold;
}

.my_name {
	position: inherit;
	clip: rectangle(0px,1000px,200px,0px);
	background-image: url("http://i2.kym-cdn.com/entries/icons/original/000/012/690/Alchemy_Circle_by_Alchemist_Pac.jpg");
	padding: 250px 0;
	margin: 30px;
	z-index: -1;
}

.education {
 color: #00008B;
}

.work_experience {
  color: #B8860B;
}

.references {
  color: #006400;
}

#italic {
  font-style: italic;
}
