
body {
	background-color: #FFFACD;
	margin: 40px;
	font-size: 20px;
	font-family: Ariel;
	line-height: 60%;
}

h2 {
  font-weight: bold;
}

p {
    margin-left: 40px;
}

.image {

}
.my_name {

	font-family: Ariel;
	font-size: 24px;
	color: #000000;
}

.education {
 color: #00008B;
 
}

.work_experience {
  color: #B8860B;
}

.references {
  color: #006400;
  line-height: 120%;
}

.italic {
  font-style: italic;
}
