
body {
	background-color: #000000;
	margin: 40px;
	font-size: 20px;
	font-family: Ariel;
	line-height: 60%;
	width: 800px;
}

h2 {
  font-weight: bold;
}

p {
    margin-left: 40px;
}

.image {

}
.my_name {

	font-family: Ariel;
	font-size: 24px;
	color: #00BFFF;
}

.education {
 color: #00008B;
 
}

.work_experience {
  color: #FFC0CB;
}

.references {
  color: #FFEFD5;
  line-height: 120%;
}

.italic {
  font-style: italic;
}
